h1{
    color:purple;
}
p{
    color: #423e3e;
}
h1{
    color:#24b4f7;
}
body{
    background: grey;
}
section{
    background: black;
}
h3{
    color:#24b4f7;
}
.hotpink-header{
    color: #AD7A99;
}
h2{
    color:#24b4f7;
}
#top{
    background:black;
}
nav a {
    color:#24b4f7;
    background-color: black;
}
a{
    color:tomato;
}