h1{
    color:purple;
}
p{
    color: #423e3e;
}
h1{
    color:green;
}
body{
    background: #b84c4c;
}
section{
    background: #dfae10;
}
h3{
    color:green;
}
.hotpink-header{
    color: #AD7A99;
}
h2{
    color:green;
}
#top{
    background:orange;
}
nav a {
    color:green;
}
a{
    color:tomato;
}